<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/header-v.css">
</head>
<body>
    <div class="headerv-v">
        <img src="/images/logo.png" id="logo-v">
        <div class="navbar-v">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/courses">My Courses</a></li>
                <li><a href="/cart">My Cart</a></li>
                <li><a href="/wishlist">Wishlist</a></li>
                <li><a href="/subs">Super Power</a></li>
            </ul>
            <div class="profilev-v" onclick="toggleProfileDropdown()">
                <img src="/images/placeholder.jpeg">
                <div class="profile-dropdown-v" id="profileDropdown-v">
                    <div><strong>Name:</strong> John Doe</div>
                    <div><strong>Username:</strong> johndoe123</div>
                    <div><strong>Email:</strong> johndoe@example.com</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
