<%- include('partials/header') %>

<head>
    <link rel="stylesheet" href="/styles/eternium.css"> 
</head>
<body>
    
    <%- include('partials/header') %>
<div class="master-sub-y">
    <div class="ms-left-y">
        <p>Unlock endless learning with the S.H.I.E.L.D. Academy ETERNIUM Subscription! Get unlimited access to all courses, master new skills, and level up your career—all in one powerful membership. Don’t just learn, become ETERNAL with S.H.I.E.L.D. Academy!</p>
        <h1>For Just $2000</h1>
        <button class="eternium-btn-y" 
                onmousedown="this.style.transform='scale(0.9)'" 
                onmouseup="this.style.transform='scale(1)'" 
                onmouseleave="this.style.transform='scale(1)'">Buy ETERNIUM Subscription</button>
    </div>
    <div class="ms-right-y">
        <img src="/assets/nickfury.png" alt="Nick Fury" height="100%" class="nickfury-y">
    </div>
</div>

<%- include('partials/footer') %>
</body>