<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/instructor.css">
</head>
<body>
    <%- include("iheader.ejs") %>
    <div class="banner-v">
        <img src="/images/nickfury.png">
        <h1>Empowering agents and heroes through elite training and knowledge. Join S.H.I.E.L.D. Training Academy—your journey to excellence starts here</h1>
    </div>
    <div class="ibg-v">
        <section class="your-courses-v">
            <h2>Your Courses</h2>
            <div class="create-course-container-v">
                <button class="create-course-btn-v"><a href="/createCourse">Create New Course</a></button>
            </div>
            <div class="course-list-v" id="courseList-v"></div>
        </section>
    </div>
    <%- include("ifooter.ejs") %>
    <script src="/scripts/imain.js"></script>
</body>
</html>
