@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Righteous&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
   
}

:root {
    --bg-color:#091057;
    --txt-color: #CBDCEB;
    --pri-color: #a9d0ff;
    --sec-color: #F3F3E0;
    --thi-color: #133E87;
    --fou-color:  #0e316de1;  
    --gradient-1:  linear-gradient(45deg, #0c3d86, #1564b3, #3483c4);
    --gradient-2:linear-gradient(45deg,#3483c4,#1564b3,#0c3d86);
    --font-1-family: "DynaPuff", system-ui;
  }

  
.courselayout-y{
    display: flex;
    background-color: var(--bg-color);
   background-image: url('/images/shieldlogo.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
.side-bar-y{
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--sec-color);
    background-color: var(--fou-color);
    background: var(--gradient-1)
}
.course-part-y:hover{
    background: var(--gradient-2);
    cursor: pointer;
}
.course-part-y:active{
    scale: 0.95;
}
.side-bar-y .course-part-y{
    
    flex-basis: 100px;
    border: 1px solid var(--txt-color);
    color: var(--sec-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-1-family);
    padding: 10px;
}  
.main-content-y{
    flex-basis: 85%;
    display: flex;
    gap: 10px;
}
.left-main-content-y{
    flex-basis: 70%;
    margin: 50px 20px;
    color: var(--txt-color);
    font-family: var(--font-1-family);
   
}
.lfmc-2-y{
    background-color: var(--bg-color);
    padding: 5px;
    border-radius: 20px;
}
.right-main-content-y{
    flex-basis: 30%; 
    padding: 30px;   
}
.rfc-main-2-y:hover{
    background: var(--gradient-1);
}
.rfc-main-2-y{
    border: 2px solid var(--sec-color);
    padding: 20px;
    background: var(--gradient-2);
    border-radius: 20px;
}

button:active{
    scale: 0.9;
}

.rfc-btn-y button{
    background-color: var(--thi-color);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    color: var(--sec-color);
    font-weight: 500;
    font-family: var(--font-1-family);

}
.lfc-heading-y{
    font-size: 60px;
    padding: 10px 30px;
    font-weight: 900;
    color: var(--sec-color);
    color:cyan;
    font-family: "Righteous";
  font-weight: 400;
  font-style: normal;
    
}
.lfc-subheading-y{
    font-size: 30px;
    padding: 0 30px;
    font-weight: 400;
    color: var(--sec-color);
    font-family: var(--font-1-family);

}
.lfc-rating-y{
    font-size: 20px;
    padding: 10px 30px;
    color: yellow;
    font-family: var(--font-1-family);

}
.lfc-instructor-y{
    font-size: 20px;
    padding: 0 30px;
    color: aquamarine;
    font-family: var(--font-1-family);

}
.lfc-level-y{
    font-size: 20px;
    padding: 0 30px;
    color: aquamarine;
    font-family: var(--font-1-family);

}
.lfc-description-y{
    font-size: 20px;
    padding: 10px 30px;
    font-family: var(--font-1-family);

}
.rfc-photo-y{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rfc-price-y{
    margin: 10px;
    font-weight: 300;
    font-size: 35px;
    color: white;
    font-family: "Righteous";
}  
button:hover{
    background-color: var(--pri-color);
    cursor: pointer;
    color: var(--bg-color);
}
}
a{
    text-decoration: none;
}
.rfc-photo-y img{
    background-size: cover;
    border-radius: 10px;
}

  
  @media (min-width: 768px) and (max-width: 1279px) {
    .lfc-heading-y{
        font-size: 45px;
    }
    .lfc-subheading-y{
        font-size: 25px;
    }
    .lfc-rating-y,.lfc-instructor-y, .lfc-level-y, .lfc-description-y {
        font-size: 12px;
    }
    .main-content-y{
        flex-direction: column;
        justify-content: center;
    }
    
  }
  
  @media (min-width: 576px) and (max-width: 767px) {
    
  }
  
  @media (max-width: 575px) {
   
  }
